html {
  box-sizing: border-box
}

*, 
*::before,
*::after { 
  box-sizing: inherit;
}

:root {
  font-size: 62.5%
}

/* body initial setup */
body {


  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  min-height: 100vh;
  background-color: #83C5BE;
}




/* displays WINNER if there is a winning combination */
#displayResults {
text-align: center;
font-size: 10rem;
display: flex;
margin: auto;
width: 450px;
height:90px;
}
.animate__animated {
  animation-duration: 3s;
}
#winner {
  min-height: 90px;
  margin-top: 20px;
  font-family: 'Oswald', sans-serif;
}


/* the actual slot machine  */
#slotsMachine {
  display: flex;
  border: 4px solid #000000;
  height: 300px;
  width: 500px;
  margin: auto;
  margin-top: 50px;
  background-color: #FFD85D;
  border-radius: 5%;
  filter: drop-shadow(30px 20px 4px #5b9791);
}


/* inner shell of slot machine for decor */
#slotsDecor {
  display: flex;
  border: 4px solid black;
  height: 275px;
  width: 474px;
  margin: auto;
  margin-top: 240x;
  background-color: #EDC531;
  border-radius: 5%;
}


/* images linked to the random numbers */
img {
  width: 70px;
  height: 80px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-left: 5px;
}



/* each individual slot, where the icons show */
#slotOne {
  margin: auto;
  font-size: 100px;
  text-align: center;
  width: 90px;
  height: 150px;
  border: 3px solid black;
  background-color: white;
  border-radius: 7%;

}
#slotTwo {
  margin: auto;
  margin-left: -30px;
  margin-right: -30px;
  text-align: center;
  font-size: 100px;
  width: 90px;
  height: 150px;
  border: 3px solid black;
  background-color: white;
  border-radius: 7%;
}
#slotThree {
  margin: auto;
  font-size: 100px;
  text-align: center;
  width: 90px;
  height: 150px;
  border: 3px solid black;
  background-color: white;
  border-radius: 7%;
}


/* displays users credits */
#credOutput {
  justify-content: center;
  margin: auto;
  margin-top: 40px;
  
  border: 3px solid black;
  width: 150px;
  height: 40px;
  background-color: white;
  font-size: 30px;
}
#credOutput > span {
  font-size: 22px;
  font-family: 'Oswald', sans-serif;
}

/* BUTTON CODE */
#spinButton {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  }

  .button {
    display: inline-block;
    margin: 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow:    0 8px 0 #c5376d, 0 15px 20px rgba(0, 0, 0, .35);
    -moz-box-shadow: 0 8px 0 #c5376d, 0 15px 20px rgba(0, 0, 0, .35);
    box-shadow: 0 8px 0 rgb(151, 0, 0), 0 15px 20px rgba(0, 0, 0, .35);
    -webkit-transition: -webkit-box-shadow .1s ease-in-out;
    -moz-transition: -moz-box-shadow .1s ease-in-out;
    -o-transition: -o-box-shadow .1s ease-in-out;
    transition: box-shadow .1s ease-in-out;
    font-size: 50px;
    color: #fff;
}

.button span {
    display: inline-block;
    padding: 20px 30px;
    background-color: red;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(hsla(338, 90%, 80%, .8)), to(hsla(338, 90%, 70%, .2)));
    background-image: -webkit-linear-gradient(hsla(338, 90%, 80%, .8), hsla(338, 90%, 70%, .2));
    background-image: -moz-linear-gradient(hsla(338, 90%, 80%, .8), hsla(338, 90%, 70%, .2));
    background-image: -o-linear-gradient(hsla(338, 90%, 80%, .8), hsla(338, 90%, 70%, .2));
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    -moz-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    /* font-family: 'Pacifico', Arial, sans-serif; */
    line-height: 1;
    text-shadow: 0 -1px 1px rgba(175, 49, 95, .7);
    -webkit-transition: background-color .2s ease-in-out, -webkit-transform .1s ease-in-out;
    -moz-transition: background-color .2s ease-in-out, -moz-transform .1s ease-in-out;
    -o-transition: background-color .2s ease-in-out, -o-transform .1s ease-in-out;
    transition: background-color .2s ease-in-out, transform .1s ease-in-out;
}

.button:hover span {
    background-color: rgb(230, 95, 95);
    text-shadow: 0 -1px 1px rgba(175, 49, 95, .9), 0 0 5px rgba(255, 255, 255, .8);
}

.button:active, .button:focus {
    -webkit-box-shadow:    0 8px 0 #da252e, 0 12px 10px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 8px 0 #da252e, 0 12px 10px rgba(0, 0, 0, .3);
    box-shadow:    0 8px 0 #da252e, 0 12px 10px rgba(0, 0, 0, .3);
}

.button:active span {
    -webkit-transform: translate(0, 4px);
    -moz-transform: translate(0, 4px);
    -o-transform: translate(0, 4px);
    transform: translate(0, 4px);
}
